@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* ===================================================
   VARIÁVEIS
=================================================== */

:root {

    /* CORES */

    --black: #07060D;
    --dark-blue: #123458;
    --white: #F8FAFC;
    --dark-green: #164030;
    --green: #36BF66;

    /* AUXILIARES */

    --gray-text: rgba(248,250,252,0.75);
    --gray-border: rgba(255,255,255,0.12);

    /* SOMBRAS */

    --shadow-green:
    0 0 25px rgba(54,191,102,0.25);

    --shadow-blue:
    0 0 30px rgba(18,52,88,0.35);

    /* TRANSIÇÕES */

    --transition: 0.3s ease;

}

/* ===================================================
   RESET
=================================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===================================================
   BODY
=================================================== */

body {

    font-family: 'Poppins', sans-serif;

    background: var(--black);

    color: var(--white);

    overflow-x: hidden;
}

/* ===================================================
   HEADER
=================================================== */

.header {

    width: 100%;
    height: 90px;

    padding: 0 80px;

    display: flex;

    align-items: center;
    justify-content: space-between;

    position: fixed;

    top: 0;
    left: 0;

    z-index: 999;

    background:
    rgba(7, 6, 13, 0.92);

    backdrop-filter: blur(12px);

    border-bottom:
    1px solid rgba(255,255,255,0.05);
}

/* LOGO */

.logo img {

    width: 190px;
}

/* NAVBAR */

.navbar {

    display: flex;

    align-items: center;

    gap: 40px;
}

/* LINKS */

.navbar a {

    position: relative;

    text-decoration: none;

    color: var(--white);

    font-size: 15px;
    font-weight: 500;

    transition: var(--transition);
}

/* HOVER */

.navbar a:hover {

    color: var(--green);
}

/* LINHA HOVER */

.navbar a::after {

    content: "";

    position: absolute;

    left: 0;
    bottom: -8px;

    width: 0%;
    height: 2px;

    background: var(--green);

    border-radius: 20px;

    transition: var(--transition);
}

.navbar a:hover::after {

    width: 100%;
}

/* BOTÃO */

.header-btn a {

    text-decoration: none;

    color: var(--white);

    background: var(--green);

    padding: 14px 28px;

    border-radius: 12px;

    font-size: 14px;
    font-weight: 600;

    transition: var(--transition);

    box-shadow: var(--shadow-green);
}

/* HOVER BOTÃO */

.header-btn a:hover {

    background: #2ea858;

    transform: translateY(-2px);
}


/* ==================================
   BANNER
================================== */

.about-banner{

    background:
    linear-gradient(
        rgba(7,6,13,.85),
        rgba(7,6,13,.85)
    ),
    url("../img/banner-sobre.jpg");

    background-size:cover;
    background-position:center;

    padding:180px 0;

    text-align:center;
}

.about-banner h1{

    color:var(--white);

    font-size:4rem;

    margin-bottom:20px;
}

.about-banner p{

    color:var(--white);

    max-width:700px;

    margin:auto;

    line-height:1.8;
}

/* ==================================
   HISTÓRIA
================================== */

.about-company{

    padding:120px 0;
}

.about-grid{

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:80px;

    align-items:center;
}

.about-image{
    margin-left: 50px;
    position:relative;
}

.about-image::before{

    content:"";

    width:100%;
    height:100%;

    background:var(--green);

    position:absolute;

    right:-25px;

    bottom:-25px;

    z-index:-1;
}

.about-content {
    margin-right: 20px;
}
.about-content span{

    color:var(--green);

    font-weight:600;
}

.about-content h2{

    color:var(--blue-dark);

    margin:15px 0 25px;

    font-size:2.5rem;
}

.about-content p{

    line-height:1.9;

    margin-bottom:20px;
}

/* ==================================
   MISSÃO
================================== */

.mission-section{

    background: var(--black);

    padding:120px 0;
}

.mission-grid{

    display:grid;

    grid-template-columns:
    repeat(3,1fr);

    gap:40px;
}

.mission-card{

    background:
    linear-gradient(
        180deg,
        rgba(18,52,88,.9),
        rgba(7,6,13,.95)
    );

    padding:40px;

    text-align:center;

    border-radius:20px;

    border:1px solid rgba(255,255,255,.08);

    transition:.3s ease;
}

.mission-card:hover{

    transform:translateY(-8px);

    border-color:var(--green);

    box-shadow:
    0 0 25px rgba(54,191,102,.15);
}

.mission-card i{

    font-size:3rem;

    color:var(--green);

    margin-bottom:20px;
}

.mission-card h3{

    color:var(--white);

    margin-bottom:15px;
}

.mission-card p{

    color:rgba(248,250,252,.75);

    line-height:1.8;
}

/* ==================================
   EQUIPE
================================== */

.team-section{

    padding:120px 0;
}

.section-title{

    text-align:center;

    margin-bottom:70px;
}

.section-title span{

    color:var(--green);
}

.section-title h2{

    color:var(--blue-dark);

    font-size:2.8rem;
}

.team-grid{

    display:grid;

    grid-template-columns:
    repeat(4,1fr);

    gap:30px;
}

.team-card{

    text-align:center;
}

.team-photo{

    width:250px;
    height:250px;

    margin:auto;

    overflow:hidden;

    border-radius:50%;

    border:5px solid var(--green);
}

.team-photo img{

    width:100%;
    height:100%;

    object-fit:cover;

    transition:.5s;
}

.team-photo:hover img{

    transform:scale(1.1);
}

.team-card h3{

    margin-top:20px;

    color:var(--blue-dark);
}

.team-card span{

    color:var(--green-dark);
}

/* ==================================
   NÚMEROS
================================== */

.numbers{

    background:var(--blue-dark);

    padding:100px 0;
}

.numbers-grid{

    display:grid;

    grid-template-columns:
    repeat(4,1fr);

    gap:40px;

    text-align:center;
}

.number-item h2{

    color:var(--green);

    font-size:3rem;
}

.number-item span{

    color:var(--white);
}

/* ===================================
   FOOTER
=================================== */

.footer {

    background: var(--black);

    border-top:
    1px solid rgba(255,255,255,.05);

    padding-top: 80px;
}

/* CONTAINER */

.footer-container {

    width: 100%;

    max-width: 1400px;

    margin: auto;

    padding: 0 10% 60px;

    display: grid;

    grid-template-columns:
    repeat(auto-fit, minmax(250px, 1fr));

    gap: 50px;
}

/* LOGO */

.footer-logo {

    width: 180px;

    margin-bottom: 25px;
}

/* COLUNAS */

.footer-column h3 {

    color: var(--white);

    margin-bottom: 25px;

    font-size: 22px;
}

.footer-column p {

    color: var(--gray-text);

    line-height: 1.8;
}

.footer-column ul {

    list-style: none;
}

.footer-column ul li {

    margin-bottom: 15px;

    color: var(--gray-text);
}

/* LINKS */

.footer-column a {

    text-decoration: none;

    color: var(--gray-text);

    transition: .3s ease;
}

.footer-column a:hover {

    color: var(--green);
}

/* REDES */

.socials {

    display: flex;

    gap: 15px;

    margin-top: 25px;
}

.socials a {

    width: 45px;
    height: 45px;

    border-radius: 50%;

    background:
    rgba(255,255,255,.05);

    display: flex;

    align-items: center;
    justify-content: center;

    transition: .3s ease;
}

.socials a:hover {

    background: var(--green);

    transform: translateY(-4px);
}

.socials i {

    color: var(--white);

    font-size: 18px;
}

/* BOTTOM */

.footer-bottom {

    border-top:
    1px solid rgba(255,255,255,.05);

    padding: 25px;

    text-align: center;
}

.footer-bottom p {

    color: var(--gray-text);

    font-size: 14px;
}

@media (max-width: 600px) {

    .header {

        height: 80px;

        padding: 0 20px;
    }

    .logo img {

        width: 150px;
    }

    .header-btn a {

        padding: 10px 18px;

        font-size: 13px;
    }

    .hero {

        height: 90vh;
    }

    .content h1 {

        font-size: 36px;
    }

    .content p {

        font-size: 16px;
    }

    .content a {

        padding: 14px 24px;
    }

}